@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap');

* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Saira Stencil One';
}

body {
    height: 100vh;
}

input {
    color: black;
}

main {
    display: flex;
    flex-direction: row;
}

.info-text-sga h1 {
    color: #F00;
    font-family: 'Saira Stencil One';
    font-size: 100px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.info-text {
    margin-bottom: 200px;
}

.info-text-sga p {
    color: #FFF;
    font-family: 'Saira Stencil One';
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.melhores {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.info {
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("img/image-2.png") top left / 100% 100% no-repeat;
}
.form {
    height: 100vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url("img/image-1.png") top right / 100% 100% no-repeat;
}

.icons-home {
    display: flex;
    flex-direction: row;
}
.icon {
    margin-right: 10px;
}

.textarea {
    width: 500px;
    height: 100px;
    background-color: #37394E;
    border: 1px solid #000;
    border-radius: 5px;
}

.login {
    display: flex;
    flex-direction: column;
}

.text-icon {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

/* index */

.home-body{
    margin: 0;
    height: 100vh;
    width: 100vw;
    background: url("img/image-1.png") top right / 100% 100% no-repeat;
}

.header-home {
    background-color: #37394E;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.header-home h1 {
    color: #F00;
    font-family: "Saira Stencil One";
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 20%;
}

.melhores p{
    font-size: 20px;
}

.home {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.botao-post {
    cursor: pointer;
    background: #FF5D00;
    border-radius: 5px;
    flex-shrink: 0;
    width: 65px;
    height: 38px;
    font-family: 'Saira Condensed';
    font-size: 20px;
    border: none;
    margin-top: 5px;
    margin-left: 317px;
}

.titulo-feed {
    margin-top: 3em;
}

.titulo-feed h2 {
    color: #FFF;
    font-family: 'Saira Condensed';
    font-style: normal;
    font-size: 30px;
    font-weight: 300;
    line-height: normal;
}
.div-titulo {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    text-align: left;
}

.container-form {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 1em;
}
.form-home {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
}

.div-titulo h1 {
    color: #FFF;
    font-family: 'Saira Condensed';
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-size: 30px;
    width: 100%;
    text-align-last: center;
    margin-top: 2em;
}

.botao-submit {
    cursor: pointer;
    background: #FF5D00;
    border-radius: 6px;
    flex-shrink: 0;
    width: 65px;
    height: 38px;
    font-family: 'Saira Condensed';
    font-size: 20px;
    border: none;
    margin-top: 15px;
}


.form-login h1 {
    color: #F00;
    font-family: "Saira Stencil One";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.form-login a {
    font-family: 'Saira Condensed';
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.form-login p {
    font-family: "Saira Condensed";
    color: #FFF;
    font-size: 25px;
    font-style: normal;
}

.form-login input {
    margin-bottom: 15px;
    width: 300px;
    height: 30px;
}

.form-login h3 {
    margin-top: 150px;
    
}

.form-signup h1 {
    color: #F00;
    font-family: "Saira Stencil One";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.botao-signup {
    cursor: pointer;
    background: #FF5D00;
    border-radius: 6px;
    flex-shrink: 0;
    width: 88px;
    height: 42px;
    font-family: 'Saira Condensed';
    font-size: 20px;
    border: none;
}

.campos-simples p {
    font-family: 'Saira Condensed';
    font-size: 20px;
    font-style: normal;
}
.campos-simples input {
    margin-bottom: 15px;
    width: 500px;
    height: 30px;
}
.campos-estilizados {
    width: 283px;
    height: 150px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column: 0px;
    grid-row: 0px; 
}
.campos-estilizados input {
    margin-bottom: 15px;
    width: 200px;
    height: 30px;
}
.div1{ 
    grid-area: 1 / 1 / 2 / 2;

}
.div2{ 
    grid-area: 1 / 2 / 2 / 3;
    padding-left: 100px;
}
.div3{ 
    grid-area: 2 / 1 / 3 / 2;
}
.div4{ 
    grid-area: 2 / 2 / 3 / 3;
    padding-left: 100px;
}

@media only screen and (max-width:960px) {

    .info {
        display: none;
    }

    .form {
        margin: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .form-signup {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .campos-simples {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: auto;
    }

    .campos-simples input {
        height: 34px;
        width: 204px;
    }
    .campos-estilizados {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .form-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;

    }
    .div1 {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-left: 0px;
    }

    .div2 {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-left: 0px;
    }
    .div3 {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-left: 0px;
    }

    .div4 {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-left: 0px;
    }

    .button-signup {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .home-body {
        min-height: 100vh;
    }

    .header-home {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
    }

    .home {

    }

    .textarea {
        width: 75%;
        height: 100px;
        background-color: #37394E;
        border: 1px solid #000;
        border-radius: 5px;
    }

    .botao-post {
        cursor: pointer;
        background: #FF5D00;
        border-radius: 5px;
        flex-shrink: 0;
        width: 65px;
        height: 38px;
        font-family: 'Saira Condensed';
        font-size: 20px;
        border: none;
        margin-top: 5px;
        margin-left: 5em;
    }
}